body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
h2 {
    text-align: left;
    margin: 20px;
}
p {
    padding: 0;
    margin: 0;
}

.ul-center {
    list-style-type: none;
    padding: 0;
    margin: 2rem;
}
.ul-left {
    /* margin: 2rem; */
    padding: 0;
    list-style-type: none;
}
.li-block {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.li-list {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.li-hover:hover {
    background-color: #c1c1c1;
}
a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

.align-right{
    float:right;
}

button {
  background-color: #c1c1c1; /* Green */
  border: none;
  color: white;
  padding: .3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: white;
  color: black;
  border: 1px solid #c1c1c1;
}



@keyframes rotateElement {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes unrotateElement {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.rotate {
  animation: rotateElement 0.5s forwards;
}

.unrotate {
  animation: unrotateElement 0.5s forwards;
}


.collapsible {
  overflow: hidden;
  transition: height 0.5s ease, padding 0.5s ease, margin 0.5s ease;
  height: 0; /* Start with 0 height for collapsed state */
  padding: 0; /* Start with no padding */
  margin: 0; /* Start with no margin */
}

.collapsed {
  height: 0 !important; /* Collapse to 0 height */
  padding: 0 !important; /* Remove padding */
  margin: 0 !important; /* Remove margin */
}
.report-paragraph {
    padding-top: .8em;

}

.login-body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #c1c1c1;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: white;
    color: black;
    border: 1px solid #c1c1c1;
}
.target_details_report_data {
    padding-bottom: 2em;
}
