<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C2 {{data['instance']}}</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
    <ul class="ul-center">
        {% for target in data['target_list'] %}
                <li class="li-block">
                    {{target['target']}}
                    <div class="align-right">
                        {% if target['target'] != "general" %}
                            <button id="report_button_{{target['target']}}" onclick=get_report("{{data['instance']}}","{{target['target']}}")>report</button>
                            <button id="pause_button_{{target['target']}}" onclick=toggle_pause_target("{{data['instance']}}","{{target['target']}}")>{{ "resume" if target['stopped'] else "pause"}}</button>
                        {% endif %}
                        <button id="toggle_button_{{target['target']}}" onclick=toggle_details("{{target['target']}}")><span>▼</span></button>
                    </div>
                </li>

                <li class="target_details li-block collapsible collapsed" id="details_{{target['target']}}">
                    {% if data.get("reports", {}).get(target['target']) is not none %}
                        <p class="target_details_report_data"><strong>Device: </strong> {{data['reports'][target['target']].get("purpose", "Unknown")}} <br><i>(May not be accurate, just a guess based on data)</i></p>

                        <p><strong>Open ports: </strong></p>
                        <ul class="target_details_report_data">
                            {% for port in data['reports'][target['target']].get("ports", ["No ports found"])%}
                                <li>{{port}}</li>
                            {% endfor %}
                        </ul>

                        {% for paragraph in data['reports'][target['target']].get("report", []) %}
                            {% if paragraph['type'] == "title"%}
                                <h3>{{paragraph['content']}}</h3>
                            {% endif %}
                            {% if paragraph['type'] == "text"%}
                            <p>
                                {% for p in paragraph['content'].split("\n")%}
                                    {{p}}
                                    <br>
                                {% endfor %}
                            </p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}



                    <p class="target_details_report_data"></p>
                    <h3>Tasks running on target: </h3>
                    <ul class="ul-left">
                        {% for task in target['tasks'] %}
                            <li class="li-list flex-row"> 
                                <label>
                                    <input type="checkbox" disabled {{ "checked" if task['completed'] else ""}}>
                                </label>
                                <span class="task-text">{{task['task']}}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
        {% endfor %}
    </ul>
</body>
<script src="/static/js/script.js"></script>
{% for target in data['target_list'] %}
    <script> set_stored_target_details_state("{{target['target']}}") </script>
{% endfor %}
</html>
