<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C2 {{data['instance']}}</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
    <ul class="ul-center">
        {% for target in data['target_list'] %}
                <li class="li-block">
                    {{target['target']}}
                    <div class="align-right">
                        {% if target['target'] != "general" %}
                            <button id="report_button_{{target['target']}}" onclick=get_report("{{data['instance']}}","{{target['target']}}")>report</button>
                            <button id="pause_button_{{target['target']}}" onclick=toggle_pause_target("{{data['instance']}}","{{target['target']}}")>{{ "resume" if target['stopped'] else "pause"}}</button>
                        {% endif %}
                        <button id="toggle_button_{{target['target']}}" onclick=toggle_details("{{target['target']}}")><span>▼</span></button>
                    </div>
                </li>

                <li class="target_details li-block collapsible collapsed" id="details_{{target['target']}}">
                    {% if data.reports.get(target['target']) is not none %}
                        {% for paragraph in data.reports[target['target']] %}
                            <p class="report-paragraph">{{paragraph}}</p>
                        {% endfor %}
                        <br>
                        <br>
                    {% endif %}
                    <p>Tasks running on target: </p>
                    <ul class="ul-left">
                        {% for task in target['tasks'] %}
                            <li class="li-list flex-row"> 
                                <label>
                                    <input type="checkbox" disabled {{ "checked" if task['completed'] else ""}}>
                                </label>
                                <span class="task-text">{{task['task']}}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
        {% endfor %}
    </ul>
</body>
<script src="/static/js/script.js"></script>
{% for target in data['target_list'] %}
    <script> set_stored_target_details_state("{{target['target']}}") </script>
{% endfor %}
</html>
